body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

  }

  .header {
    background-color:black;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;text-decoration: dashed;
    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .hero {
    text-align: center;
    padding: 100px 0;
  }

  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
  }

  .cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .cta-button:hover {
    /* /* background-color: #555; */
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%); 
    /* background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%); */


    
  }

  .footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

  }